@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654329958907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dog-food:before {
  content: "\e651";
}

.icon-dog:before {
  content: "\e8e5";
}

.icon-dog1:before {
  content: "\eb10";
}

